body {
  background-color: #1c1c28;
  background-image: url("../img/grid.png");
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.blue-link {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #6966FF;
  margin-bottom: 80px;
}
.blue-link a {
  color: #6966FF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}
.header__logo {
  width: 110px;
  height: 65px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}
.menu a {
  color: #fff;
}
.menu__list {
  display: flex;
}
.menu__list li {
  margin-right: 30px;
  font-family: "Space Mono", monospace;
}

.btn {
  width: 141px;
  height: 48px;
  background-color: #6966FF;
  border-radius: 7.29px;
}
.btn_grey {
  background-color: #393953;
}

.hero {
  padding-top: 80px;
}
.hero__content {
  text-align: center;
  position: relative;
  width: 900px;
  margin: 0 auto;
}
.hero__title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 60px;
}
.hero__line {
  position: absolute;
  top: 278px;
  left: 520px;
}
.hero__btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 80px;
}
.hero__achievements {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 60px;
}
.hero__achievements_text {
  font-family: "Space Mono", monospace;
  padding-top: 6px;
}

.featured {
  padding-top: 40px;
  padding-bottom: 80px;
}
.featured__card-item {
  padding: 18px;
  width: 392px;
  height: 560px;
  border-radius: 16px;
  background-color: #393953;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured__userpic_img {
  border-radius: 50%;
}
.featured__category {
  margin-bottom: 10px;
  font-family: "Space Mono", monospace;
}
.featured__category_name {
  font-size: 24px;
  margin-bottom: 6px;
}
.featured__funding-amount {
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;
}
.featured__text {
  font-size: 16px;
  line-height: 24px;
}

.whatsnew {
  padding-top: 40px;
}
.whatsnew__header {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
.whatsnew__card-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
.whatsnew__item {
  width: 392px;
  background-color: #393953;
  border-radius: 16px;
}
.whatsnew__info {
  padding: 20px 14px;
}
.whatsnew__title {
  margin-bottom: 20px;
  font-family: Space Mono;
}
.whatsnew__title-info {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 700;
}
.whatsnew__sparkle {
  position: absolute;
  top: -30px;
  right: 150px;
}

.frequently {
  padding-top: 100px;
  font-size: 18px;
}
.frequently__header {
  position: relative;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.frequently__wrapper {
  width: 800px;
  border-top: 0.5px solid #fff;
  margin: 0 auto;
  margin-top: 80px;
}
.frequently__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #fff;
  padding: 10px 0px;
}
.frequently__list_plus {
  font-size: 24px;
  cursor: pointer;
}
.frequently__circle {
  position: absolute;
  top: -8px;
  left: 450px;
}

.application {
  padding-top: 100px;
  padding-bottom: 60px;
}
.application__header {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
.application__traced {
  position: absolute;
  right: 110px;
  top: 46px;
}
.application__card-box {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.application__arrow {
  position: absolute;
  z-index: 10;
  left: 380px;
  top: 40px;
}
.application__arrow img {
  width: 140px;
}
.application__arrow_2 {
  transform: rotate(180deg);
  top: 340px;
  left: 880px;
}
.application__arrow_2 img {
  width: 140px;
}
.application__item {
  height: 480px;
  width: 392px;
  background-color: #393953;
  border-radius: 16px;
  padding: 30px 18px;
}
.application__item_num {
  font-family: "Nanum Pen Script", cursive;
  font-size: 64px;
  margin-bottom: 20px;
}
.application__item_title {
  font-size: 24px;
  margin-bottom: 20px;
}
.application__item_descr {
  line-height: 24px;
}
.application__item_1 {
  transform: rotate(-2deg);
}
.application__item_2 {
  transform: rotate(2deg);
}
.application__item_3 {
  transform: rotate(-2deg);
}

.cta {
  padding-top: 80px;
}
.cta__wrapper {
  padding: 40px 0px;
  background-color: #6966ff;
  text-align: center;
  border-radius: 16px;
}
.cta .btn {
  background-color: #fff;
  color: #6966ff;
}
.cta__subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}
.cta__title {
  font-size: 40px;
  margin-bottom: 40px;
}

.footer {
  padding: 80px 0px 40px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socials img {
  margin-left: 20px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */